<h1>{{title}}</h1>
<div class="form-group">
	<label for="movieEditorTitle">Title</label>
	<input type="text" id="movieEditorTitle" class="form-control" [(ngModel)]="movie.title">
</div><!-- .form-group -->

<div class="form-group">
	<label for="movieEditorYear">Year</label>
	<input type="number" min="1878" max="2017" id="movieEditorYear" class="form-control" [(ngModel)]="movie.year">
</div><!-- .form-group -->

<div class="form-group">
	<label for="movieEditorImagePath">Image Path</label>
	<input type="text" id="movieEditorImagePath" class="form-control" [(ngModel)]="movie.imagePath">
</div><!-- .form-group -->

<div class="form-group">
	<button class="btn btn-primary btn-lg btn-block" (click)="saveChanges()" routerLink="/">Save</button>
	<button class="btn btn-default btn-lg btn-block" routerLink="/">Return to list</button>
</div><!-- .form-group -->